#!/usr/bin/make -f

clean:
	dh clean

build:
	dh build

override_dh_auto_test:
# Skip

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_shlibdeps:
# Skip

binary:
	dh binary
