name: Behave tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  workflow_call:

jobs:
  mypy:
    uses: ./.github/workflows/docker-mypy.yml
  test:
    needs: mypy
    name: behave
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        feature:
          - "archive"
          - "async"
          - "autofailover"
          - "cascade"
          - "consecutive_switch"
          - "coordinator"
          - "coordinator_fail"
          - "dead_primary_switchover"
          - "disable_sync"
          - "failed_promote"
          - "failover_timeout"
          - "initialization"
          - "kill_non_ha_replica"
          - "kill_primary"
          - "kill_replica"
          - "maintenance"
          - "op_track"
          - "pgconsul_util"
          - "plugins"
          - "primary_switch"
          - "priority"
          - "reset_sync"
          - "single_node"
          - "slot"
          - "start"
          - "switchover"
          - "targeted_switchover"
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install tox
        run: pip install tox

      - name: Test
        run: "TEST_ARGS='-i ${{ matrix.feature }}.feature' make check"

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs-${{ matrix.feature }}
          path: logs
