name: Jepsen tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  workflow_call:

jobs:
  test:
    name: jepsen
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Test
        run: make jepsen

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: logs
          path: logs
